//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//<МИКСИНЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
		url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&subset=cirillic-ext");
@import "fonts.scss";

//<Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "PT Sans";
//</Шрифт по умолчанию>==========================================================================================


//<ПЕРЕМЕННЫЕ>============================================================================================
$minwidth: 320px;
$mw: 970;
$md1: $mw+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================

//<ОБНУЛЕНИЕ, общие параметры>============================================================================
@import "null.scss";

body {
	font-family: "PT Sans";
	font-size: 14px;
	line-height: 25px;
	font-weight: 400;
}

//<Оболочка>==============================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;

}

//<Оболочка>==============================================================================================

//<Основная сетка>========================================================================================
._container {
	max-width: $mw + px;
	margin: 0 auto;
	padding: 0 10px;

	/*
	@media (max-width:$md1+px) {
		max-width: 970px;
	}

	@media (max-width:$md2+px) {
		max-width: 750px;
	}

	@media (max-width:$md3+px) {
		max-width: none;
		padding: 0 10px;
	}
	*/
}

//<Основная сетка>========================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================
@import "header.scss";
@import "footer.scss";
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================

//<ОСНОВНОЙ БЛОК>=========================================================================================

//<ОСНОВНОЙ БЛОК>=========================================================================================